:root {
    --bluesoft: #F9FBFC;    
    --blue: #3A38FF;
    --purplesoft: #E5E4FF;
    --navy: #101041;
    --darkgrey: #949293;
    --darkgrey2: #DFE2E7;
    --grey: #DFE2E7;
    --purple: #6261D8;
    --green: #316762;
    --white: #ffffff;

    --fwbold: 700;
    --fwextrabold: 800;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bluesoft);
}

.big-header {
    font-weight: var(--fwextrabold);
    color: var(--navy);
    font-size: 48px;
    margin: 0;
}

.medium-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 28px;
    margin: 0;
}

.small-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 22px;
    margin: 0;
}

.primary-copy {
    font-size: 16px;
    font-weight: var(--fwregular);
    line-height: 28px;
    color: var(--darkgrey);
    margin: 0;
}

.btn-primary {
    background: var(--blue);
    color: var(--white);
}

.btn-primary:hover {
    padding: 12px 20px 12px 20px;
    background: var(--navy);
    color: var(--white);
    font-size: 16px;
    font-weight: var(--fwsemibold);
    border-radius: 50px;
    border: 0;
}

.btn-secondary {
    padding: 12px 20px 12px 20px;
    background: var(--grey);
    color: var(--navy);
    font-size: 16px;
    font-weight: var(--fwmedium);
    border-radius: 50px;
    border: 0;
}

.btn-secondary:hover {
    background: var(--navy);
    color: var(--white) !important;
}

.navbar-nav .nav-item a:hover {
    color: var(--blue);
    transition: all 0.3s ease;
    font-weight: var(--fwsemibold);
}

.navbar-nav .nav-item a {
    color: var(--navy);
    transition: all 0.3s ease;
}

.navbar-nav .nav-item {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: var(--fwregular);
}

.navbar-brand {
    font-weight: var(--fwbold);
    font-size: 28px;
    color: var(--navy);
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.cashier-navbar {
    padding: 30px;
    background: var(--white);
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}